/* #region head */  
.header3{
    position: relative;
}
.header3 img{
    width: 100%;
}
.header3_box1{
    z-index: 1;
    width: 100%;
    position: absolute;
    background-color: transparent;
}
.header3_textbox{
    top: 34%;
    width: 100%;
    position: absolute;
    line-height: 65px;
    text-align: center;
}
.header3_box1 em{
    display: none;
}
.header3_textbox h3{
    color: #E45F4E;
    font-size: 1.7em;
}
.header3_textbox h1{
    font-size: 4.5em;
    color: white;
}
.header3_textbox a{
    margin-top: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 24px;
    background-color: #E45F4E;
}
.header3_textbox a:hover{
    background-color: #bb4738;
}
.heder3_box2{
    position: relative;
}
/* #endregion */
/* #region main */  
/* #region bar1 */
.bar1{
    width: 100%;
    display: flex;
}
.bar1_box{
    width: 33,3%;
    padding: 60px 50px;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(187, 187, 187);
}
.bar1 :last-child{
    border: none;
}
.bar1_unbox{
    margin-left: 27px;
}
.bar1_unbox p{
    margin-top: 18px;
    color: rgb(187, 187, 187);
}
.bar1 i{
    color: #E45F4E;
    font-size: 50px;
}
/* #endregion */
/* #region bar2 */
.bar2{
    display: flex;
}
.bar2 img{
    width: 50%;
}
.bar2_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 40px;
    width: 50%;
    background-color: rgb(249, 249, 249);
}
.bar2_box>h3{
    color:#E45F4E;
}
.bar2_box p{
    color: rgb(187, 187, 187);
}
.bar2_unbox i{
    color: #E45F4E;
    font-size: 50px;
}
.bar2_unbox{
    display: flex;
    justify-content: space-between;
}
.bar2_unbox h3{
    padding: 12px 0px;
}
.bar2_unbox div{
    width: 48%;
}
.bar2_box a{
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 24px;
    background-color: #E45F4E;
}
.bar2_box a:hover{
    background-color: #bb4738;
}
/* #endregion */
/* #region bar3 */
.bar3{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 110px;
}
.bar3>.container>h1,.bar3>.container>h3{
    text-align: center;
}
.bar3>.container>h3{
    margin-top: 70px;
    color: #E45F4E;
    padding: 20px;
}
.bar3_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bar3_unbox{
    margin-top: 30px;
    width: 31%;
    padding: 15px;
    border: 1px solid rgb(187, 187, 187);
}
.bar3_unbox img{
    width: 100%;
}
.bar3_unbox_line{
    transform: translateY(-4px);
    display: flex;
}
.bar3_unbox_line i{
    color: white;
    font-size: 22px;
    padding: 7px;
    background-color: #E45F4E;
}
.bar3_unbox_line p{
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 14px;
    background-color: black;
}
.bar3_unbox>p{
    transform: translateY(-5px);
    color: rgb(160, 160, 160);
    background-color: rgb(244, 244, 244);
    padding: 16px;
}
/* #endregion */
/* #region bar4 */
.bar4{
    display: flex;
    justify-content: space-evenly;
    background-color: #E45F4E;
}
.bar4_box{
    width: 15%;
    padding: 90px 0px;
    color: white;
    text-align: center;
}
.bar4 h1{
    padding: 20px 0px;
    font-size: 60px;
}
.bar4 i{
    border-radius: 100%;
    border: 1px solid rgb(187, 187, 187);
    padding:12px 10px;
    font-size: 20px;
}
/* #endregion */
/* #region bar5 */
.bar5{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
}
.bar5>div{
    display: flex;
}
/* #region box1 */
.bar5_box1{
    width: 40%;
}
.bar5_box1 img{
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(160, 160, 160);
}
.bar5_box1 h3{
    color: #E45F4E;
}
.bar5_box1 h1{
    font-size: 40px;
    padding: 20px 0px;
}
.bar5_box1 p{
    color: rgb(187, 187, 187);
    padding: 30px 0px;
}
.bar5_box1 a{
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 24px;
    background-color: #E45F4E;
}
.bar5_box1 a:hover{
    background-color: #bb4738;
}
/* #endregion */
/* #region box2 */
.bar5_box2{
    margin-left: 2%;
    width: 58%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.bar5_box2_un > div{
    display: flex;
    align-items: center;
}
.bar5_box2_un > div >i{
    padding: 20px;
    background-color: #E45F4E;
}
.bar5_box2_un > div >h4{
    margin-left: 16px;
}
.bar5_box2_un p{
    margin-top: 20px;
    line-height: 20px;
    color: rgb(187, 187, 187);
}
/* #endregion */
/* #endregion */
/* #region bar6 */
.bar6{
    padding: 80px 0px;
    color: white;
    background-color: #E45F4E;
    line-height: 50px;
    text-align: center;
}
.bar6 input{
    height: 40px;
    width: 240px;
    padding: 10px;
    outline:none;
}
.bar6 ::placeholder{
    font-size: 18px;
}
.bar6 button{
    padding: 0px 10px;
    font-size: 16px;
    background-color: rgb(26, 26, 26);
    color: white;
    height: 40px;
    border-color:transparent ;
}
button:hover{
    background-color: black;
}
/* #endregion */
/* #region bar7 */
.bar7{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar7>h3{
    text-align: center;
    color: #E45F4E;
}
.bar7>h1{
    text-align: center;
    font-size: 40px;
    line-height: 100px;
}
/*  */
.bar7_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}
.bar7_unbox-l{
    justify-content: flex-end;
    display: flex;
    text-align: right;
}
.bar7_unbox-l img{
    width: 45%;
    padding: 20px;
    border: 1px solid rgb(187, 187, 187);
}
.bar7_unbox-r{
    justify-content: flex-end;
    display: flex;
}
.bar7_unbox-r img{
    width: 45%;
    padding: 20px;
    border: 1px solid rgb(187, 187, 187);
}
.bar7_unbox-l .bar7_unbox_textb{
    line-height: 30px;
    transform: translate(-30px,40px);
}
.bar7_unbox-r .bar7_unbox_textb{
    line-height: 30px;
    transform: translate(30px,40px);
}
.bar7_unbox_textb p{
    color: rgb(187, 187, 187);
}
.bar7_box i{
    color: #E45F4E;
    letter-spacing: 9px;
    cursor: pointer;
}
.bar7_box i:hover{
    color: #bb4738;
}

/* #endregion */
/* #region bar8 */
.bar8{
    background-color: rgb(244, 244, 244);
    padding: 100px 0px;
}
.bar8_box .container{
    display: flex;
    justify-content: space-between;
}
.bar8>h1{
    line-height: 90px;
    font-size: 40px;
    text-align: center;
}
.bar8>h3{
    text-align: center;
    color: #E45F4E;
}
.bar8_box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.bar8_unbox{
    width: 30%;
}
.bar8_textb{
    position: relative;
    background-color: white;
    padding: 22px;
    border: 1px solid rgb(187, 187, 187);
    line-height: 26px;
}
.bar8_textb::after{
    z-index: 1;
    top: 100%;
    content: "";
    position: absolute;
    border: 12px solid;
    border-color:white transparent transparent transparent ;
}
.bar8_imgb{
    margin-top: 20px;
    display: flex;
}
.bar8_imgb img{
    border: 1px solid rgb(187, 187, 187);
    background-color: white ;
    padding: 10px;
    width:75px;
    border-radius: 50%;
}
.bar8_imgb div{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bar8_imgb div h4 {
    color: #E45F4E;
}   
.bar8_imgb div p{
    color: rgb(153, 153, 153);
}

/* #endregion */
/* #region bar9 */
.bar9{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar9>h1{
    line-height: 80px;
    font-size: 40px;
}
.bar9>h4{
    color: #E45F4E;
}
.bar9_box{
    display: flex;
    justify-content: space-between;
}
.bar9_unbox{
    margin-top: 30px;
    width: 31%;
    padding: 15px;
    border: 1px solid rgb(187, 187, 187);
}
.bar9_unbox img{
    width: 100%;
}
.bar9_unbox_line{
    transform: translateY(-4px);
    display: flex;
}
.bar9_unbox_line i{
    color: white;
    font-size: 22px;
    padding: 7px;
    background-color: #E45F4E;
}
.bar9_unbox_line i:hover{
    background-color: #bb4738;
}
.bar9_unbox_line p{
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16px;
    background-color: black;
}
.bar9_texb{
    transform: translateY(-5px);
    color: rgb(153, 153, 153);
    background-color: rgb(244, 244, 244);
    padding: 0px 16px 16px 16px;
}
.bar9_texb>div{
    line-height: 40px;
    font-size: 12px;
    word-spacing: 20px;
}
.bar9_texb>div i{
    color: #E45F4E;
}
/* #endregion */
/* #endregion */
/* #region foot */
footer{
    background-color: rgb(41, 41, 41);
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
}
.foot_box1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.foot_unbox1{
    width: 20%;
}
.foot_unbox1:first-child{
    padding-top:10px;
    width: 32%;
    line-height: 20px;
    color: white;   
}
.foot_unbox1 > em{
    display: inline-block;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
}
.foot_unbox1 > em > span{
    color: #E45F4E;
}
.foot_unbox1 h2{
    color: #E45F4E;
    padding-bottom: 20px;
}
.foot_unbox1 li{
    padding-bottom: 15px;
}
.foot_unbox1 a{
    color: white;
    text-decoration: none;
}
.foot_unbox1 a:hover{
    text-decoration: underline;
}
.foot_unbox1 li::before{
    content: ">";
    color: white;
    padding-right: 9px;
    font-weight: 900;
}
.foot_unbox1 p{
    color: white;
    font-size: 15px;
    padding-bottom: 25px;
}
.foot_unbox1 i{
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    margin: 3px;
    transition: .2s ease  all;
}
.foot_unbox1 i:hover{
    color: rgb(41, 41, 41);
    background-color: white;
}
/* #endregion */
/* #region global */
.container{
    width: 1140px;
}
/* #endregion */
/* #region responsive */
@media only screen and (max-width:1200px){
    .container{
        width: 960px;
    }
}
@media only screen and (max-width:990px){
    /* #region header1 */
    .header1{
        flex-direction: column;
    }
    .header1 :first-child{
        padding-bottom:10px;
    }
    .header1 span{
        text-align: center;
        display:block;
    }
    /* #endregion */
    /* #region header2 */
    .header2{
        justify-content: space-evenly;
    }
    .header2_box1{
        display: none;
    }
    /* #endregion */
    /* #region header3 */
    .header3 ul{
        display: none;
        position: relative;
        left: -1%;
        margin-top: 13px;
        transition: ease 1s all;
    }
    .header3 li{
        padding: 12px 0px;
        display: block;
    }
    .header3 em{ 
        left: 10px;
        position: absolute;   
        font-size: 35px;
        display: block;
        color: white;
    }
    .header3_box1{
        position: relative;
        padding: 10px;
        background-color: rgb(41, 41, 41);
    }
    .header3_textbox{
        font-size: 10px;
    }
    .burger {
        width: 100%;
        z-index: 1;
        padding: 10px;
    }
    .burger >div{
        position: relative;
        left: calc(100% - 20px);
        display: inline-block;
    }
    .burger>div>div{
        margin-top: 7px;
        width: 30px;
        height: 2px;
        background-color: rgb(187, 187, 187);
    }
    /* #endregion */
} 
@media only screen and (max-width:960px){
.container{
    width: 700px;
}
/* #region bar1 */
.bar1{
    display: block;
}
.bar1_box{
    border: none;
    width: 100%;
    padding: 30px;
}
/* #endregion */
/* #region bar2 */
.bar2 img{
    width: 100%;
}
.bar2{
    display: block;
}
.bar2_box{
    padding-top: 30px;
    line-height: 50px;
    width: 100%;
}
/* #endregion */
/* #region bar3 */
.bar3_unbox{
    width: 48%;
}
/* #endregion */
/* #region bar4 */
.bar4{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
}
.bar4_box{
    padding: 50px 0px;
    width: 100%;
}
/* #endregion */
/* #region bar5 */
.bar5 > .container{
    display: block;
}
.bar5_box1{
    width: 100%;
}
.bar5_box1 img{
    width: 80%;
}
.bar5_box2{
    padding-top: 40px;
    width: 100%;
    margin-left: 0px;
}
/* #endregion */
/* #region bar7 */
.bar7_box{
    display: block;
}
/* #endregion */
/* #region bar8 */
.bar8_unbox:first-child,.bar8_unbox:last-child{
    display: none;
}
.bar8_unbox:nth-child(2){
    width: 100%;
}
/* #endregion */
/* #region bar9 */
.bar9_box{
    display: block;
}
.bar9_unbox{
    width: 100%;
}
/* #endregion */
/* #region footer */
.foot_box1{
    flex-wrap: wrap;
    justify-content: space-between;
}
.foot_unbox1{
    width: auto;
}
.foot_unbox1:first-child{
    width: 100%;
}
/* #endregion */
}
@media only screen and (max-width:800px){
    .container{
        width: 500px;
    }
/* #region head */
.header3_textbox{
    font-size: 8px;
}
.header3_textbox h3{
    height: 40px;
    font-size: 2.5em;
}
/* #endregion */
/* #region bar3 */
    .bar3_unbox{
        width: 100%;
    }
/* #endregion */
/* #region bar5 */
.bar5_box2{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* #endregion */
/* #region footer */
    .foot_unbox1{
        width: 100%;
    }
/* #endregion */
/* #region bar3 */
/* #endregion */
}
@media only screen and (max-width:500px){
    .container{
        width: 95%;
    }
    .header3_textbox{
        top: 20%;
        font-size: 6px;
    }
    .bar4{
        grid-template-columns: 1fr;
        font-size: 20px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
/* #endregion */